.fs-7 {
  font-size: 10rem !important;
}

.custom-bg {
  background: linear-gradient(
    135deg,
    rgba(84, 10, 10, 0.15),
    rgba(255, 255, 255, 0)
  );
  color: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
}
